@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}
